.footer__list {
    display: flex;
    justify-content: space-between;
    max-width: 1130px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 10px;
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 28px;
        color: #828282;
    }
}
.footer__cell {
    margin: 60px 0;
}
@media (max-width: 720px) {
    .footer__cell {
        margin: 30px 0;
    }
}
.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
}
.footer__line {
    width: 255px;
    height: 0px;
    border: 1px solid #EFEFEF;
    margin: 30px 0 25px 0;
}
.footer__linelong {
    border: 1px solid #EFEFEF;
}
.footer__menu {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 37px auto 38px auto;
    flex-wrap: wrap;
}
.footer__iconbox {
    display: flex;
    margin-left: 10px;
}
.footer__ellepse {
    width: 45px;
    height: 45px;
    border: 2px solid #F13C6E;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.footer__icon {
    object-fit: none;
}
.footer__address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 10px;
}
.footer__number {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 10px;
}
.footer__button {
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin: 10px;
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
}
.footer__footer {
    background: #EFEFEF;
}
.footer__footerbox {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
        margin: 25px 10px;
    }
}